@model MainPage

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <base href="http://localhost:57746/">
    <link href="~/css/A4Page.css" rel="stylesheet" />
    <link href="~/css/TempleOne.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>
<body>

    <div class="divDesign">
        <div>
            <h2 class="kokolor"><b>Wojciech Balasa</b></h2>
            <h3 class="kokolor">Junior Software Developer</h3>
            <h5>Leicester | 07376127830 | wojciech.balasa@gmail.com</h5>
        </div>
        <div class="padding3">
            <h4 class="kokolor bborder">Summary</h4>
            <p>
                I am ambitious and highly motivated person, who is interested in Software Development. I am keen to learn and extend my knowladge
                to make the best influence for my work. Currently i took step back in my carrier to focus on learning new programming languages and try to succeed on my own projects.
            </p>
        </div>
        <div >
            <h4 class="kokolor bborder">Areas of Expertise</h4>

            <div class="row">
                <div class="col-xs-4">
                    <ul>
                        <li>C#</li>
                        <li>ASP.Net Core MVC 2</li>
                        <li>Entity Framework</li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <ul>
                        <li>MS SQL</li>
                        <li>HTML5 & CSS3</li>
                        <li>Team Leader</li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <ul>
                        <li>Decision making and problem solving</li>
                        <li>Training and Development</li>
                        <li>Meeting business deadlines daily while working in a high-pressure environment.</li>
                    </ul>
                </div>
            </div>

        </div>
        <div>
            <h4 class="kokolor bborder">Work History</h4>
            <div class="row">
                <div class="col-xs-4 d-inline-block">
                    <p><b>Hexcel Leicester</b></p>
                    <p>2016 - present</p>

                </div>
                <div class="col-xs-8 d-inline-block">
                    <h6 class="kokolor"><b>Machine Operator</b></h6>

                    <ul>
                        <li>Setting-up production base to customer specification</li>
                        <li>Quality control </li>
                        <li>Active operation problem solving on the production. </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 d-inline-block">
                    <p><b>Core Management Logistics</b></p>
                    <p>2013 - 2016</p>

                </div>
                <div class="col-xs-8 d-inline-block">
                    <h6 class="kokolor"><b>Team Leader</b></h6>
                    <p>After succesfull promotion to position of Team Leader I was responsible for staff up to 10 people.</p>
                    <ul>
                        <li>Active operation problem solving on the main floor and in WMS</li>
                        <li>Development of user manuals </li>
                        <li>Staff and middle management training</li>
                        <li>Creation of daily reports for internal and external customers</li>
                        <li>Daily, weekly and monthly generation of reports for internal and external customers on all levels</li>
                        <li>Pick / despatch planning for next day</li>
                    </ul>
                    <h6 class="kokolor"><b>IT Support | Implementation Team</b></h6>
                    <p>Choosen out of hundreds to specially trained Implementation Team of 4, to support in day-to-day task in IT support department.
                    </p>
                    <ul>
                        <li>Active implementation and customization of WMS</li>
                        <li>Developing SQL raports</li>
                        <li>Fron-end testing </li>
                        <li>Implementation third-party software</li>
                        <li>Implementation new customers (e-commerce)</li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 d-inline-block">
                    <p><b>Templine </b></p>
                    <p>2012 - 2013</p>

                </div>
                <div class="col-xs-8 d-inline-block">
                    <h6 class="kokolor"><b>Warehouse Operative and Administrator</b></h6>
                    <ul>
                        <li>Pick / despatch planning for next day</li>
                        <li> Writing emails, sending post/letters, generating invoices/delivery notes and printing documents</li> 
                        <li>Supervision of good-in and generating raports</li>
                        <li>Picking, packing and despatching</li>

                    </ul>
                </div>
            </div>
        </div>
        <div>
            <h4 class="kokolor bborder">Education</h4>
            <div class="row">
                <div class="col-xs-4 d-inline-block">
                    <h6><b>C#</b></h6>
                    <ul>
                        <li>C# Tutorial course, SoloLearn, Certificated </li>
                        <li> C# Fundamentals for Absolute beginners, MVA,Certificated</li>
                        <li>C# Fundamentals with Visual Studio 2015, Pluralsight </li>
                        <li>C# Events, Delegates and Lamdas, Pluralsight </li>
                        <li> Practical LINQ, Pluralsight </li>
                        <li>OOP Fundamentals in C#, Pluralsight</li>
                    </ul>
                </div>
                <div class="col-xs-4 d-inline-block">
                    <h6><b>.Net</b></h6>
                    <ul>
                        <li>
                            .Net for Beginners, Udemy, Certificated
                        </li>
                        <li>ASP.NET CORE - Beginner, MVA, Certificated</li>
                    </ul>
                    
                    <h6><b>Entity Framework Core</b></h6>
                    <ul>
                        <li>Entity Framework Core: Getting Started, Pluralsight </li>
                        <li>Integration Testing of Entity Framework Aplications</li>
                    </ul>

                </div>
                <div class="col-xs-4 d-inline-block">
                    <h6><b>SQL</b></h6>
                    <ul>
                        <li>Learn SQL, Codecademy </li>
                        <li>Introduction to SQL, Pluralsight </li>
                        <li>MySQL Fundamentals, Pluralsight </li>
                        <li>MySQL Fundamentals 2, Pluralsight</li>
                    </ul>
                    <h6><b>Languages</b></h6>
                    <ul>
                        <li>Polish: Native</li>
                        <li>English: Highly proficient in spoken and written </li>
                    </ul>
                </div>
               
            </div>
        </div>
        <div>
            <h4 class="kokolor bborder">Additional information</h4>
            <div class="col-xs-6 d-inline-block">

                <ul>
                    <li>
                        Full UK Driving Licence and ability to drive
                    </li>

                </ul>
            </div>
                <div class="col-xs-6 d-inline-block">
                    <ul>
                        <li>UK Residency - will not be affected by Brexit </li>

                    </ul>

                </div>
            </div>

    </div>
    @*<div>
            <div class="panel panel-default">
                <div class="prow">
                    <div class="col-xs-6 bg-white ">
                        <div class="row">
                            <div class="col-xs-4">
                                picture
                            </div>
                            <div class="col-xs-8">
                                @foreach (var p in Model.UserDetails)
                                    {
                                        <h4><b>@p.Name @p.Surname </b></h4>
                                        <p>@p.Position</p>


                                    }
                            </div>
                        </div>


                    </div>
                    <div class="bg-success col-xs-6 text-left">
                        @foreach (var p in Model.UserAdresses)
                        {
                            <p>@p.Line1 @p.Line2 @p.Line3</p>
                            <p>@p.Postcode @p.City</p>
                        }
                        @foreach (var p in Model.UserDetails)
                        {

                            <p><b>@p.Email</b></p>
                            <p><b>@p.Mobile</b></p>

                        }
                    </div>
                </div>

                <div class="prow">
                    <div class="col-xs-6 bg-white changeMe">

                        @if (Model.Abouts != null)
                        {
                            <div class="bborder"><h4><b>Professional Profile</b></h4></div>

                            @foreach (var p in Model.Abouts)
                            {
                                @p.AboutText
                            }


                        }


                        @if (Model.Courses != null)
                        {
                            <div class="bborder"><h4><b>Courses</b></h4></div>

                            <br />

                            @foreach (var p in Model.Courses)
                            {

                                <p><b>@p.CoursesName</b></p>
                                <p>@p.CoursesDescription</p>

                            }




                        }


                        @if (Model.Skills != null)
                        {
                            <div class="bborder"><h4><b>Languages</b></h4></div>
                            <br />
                            <table class="btable">
                                @foreach (var p in Model.Languages)
                                {
                                    <tr>
                                        <td>@await Html.PartialAsync("LanguageDesignSummary", p)</td>
                                    </tr>

                                }
                            </table>

                        }



                    </div>
                    <div class="col-xs-6 bg-success">


                        @if (Model.Courses != null)
                        {
                            <div class="bborder"><h4><b>Work Experiance</b></h4></div>
                            <br />
                            <h6>Team Leader at CML</h6>
                            <ul>

                                <li> Analysis of complex data</li>
                                <li>Raw data compilation and analysis (WMS - Accellos One, SAP like program and MACs)</li>
                                <li> Support customer forecasting process</li>
                                <li>Daily, weekly and monthly generation of reports for internal and external customers on all levels</li>
                                <li>Capacity planning and forecasting (2 sites, total of ~ 35’000 pallets stored)</li>
                                <li> Report & presentation preparation</li>
                                <li> Support for Operations and Inventory Management Teams - ad hoc reporting</li>
                                <li>Training of the new staff / succession planning</li>
                                <li>Manage processes to ensure an efficient and professional service</li>
                                <li>High awareness and understanding of KPI's</li>
                                <li> Liaison with customers</li>
                                <li> Other duties as assigned</li>
                            </ul>


                        }
                        @if (Model.Languages != null)
                        {
                            <div class="bborder"><h4><b>Professional Skills</b></h4></div>
                            <br />
                            <Table class="btable">

                                @foreach (var p in Model.Skills)
                                {
                                    <tr>
                                        <td>@await Html.PartialAsync("SkillsDesignSummary", p)</td>
                                    </tr>

                                }

                            </Table>

                        }
                    </div>
                </div>

            </div>
        </div>*@




</body>
</html>


